.vs/KMeans/v14/.suo
KMeans.sln
KMeans/bin/Debug/KMeans.exe
KMeans/bin/Debug/KMeans.exe.config
KMeans/obj/Debug/DesignTimeResolveAssemblyReferences.cache
KMeans/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
KMeans/obj/Debug/KMeans.csproj.FileListAbsolute.txt
KMeans/obj/Debug/KMeans.csprojResolveAssemblyReference.cache
KMeans/obj/Debug/KMeans.exe
KMeans/obj/Debug/KMeans.pdb
KMeans/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
KMeans/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
KMeans/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
KMeans/bin/Debug/KMeans.pdb
KMeans/bin/Debug/KMeans.vshost.exe
KMeans/bin/Debug/KMeans.vshost.exe.config
KMeans/bin/Debug/KMeans.vshost.exe.manifest
KMeans/KMeans.csproj
KMeans/Properties/AssemblyInfo.cs
